/* Write your CSS here */
.jumbo-container {
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.jumbotron {
    margin-top: 10px;
    background-image: url("../assets/images/69409.jpg") !important;
    background-repeat: no-repeat;
    overflow: none;
    height: 100%;
    background-size: 100%;
}

.card {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 219, 219);
    margin-bottom: 10px;
}

tr, td {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 208, 80);
    padding: 5px 0 5px 0;
    letter-spacing: 1.15pt;
}

#black {
    background-color: black;
}

.panel-heading {
    font-style: bolder !important;
}